<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gp.mapper.TVideoWatchLogMapper">

    <resultMap id="BaseResultMap" type="com.gp.entity.TVideoWatchLog">
            <id property="logId" column="log_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="videoId" column="video_id" jdbcType="BIGINT"/>
            <result property="watchTime" column="watch_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id,user_id,video_id,
        watch_time,create_time,update_time,
        del_flag
    </sql>
</mapper>
